.part-1{
padding:30px;
height: 400px;
background-color:#1f2937;
}
.header-p1{
display:flex;
padding: 12px;
margin-left:150px;
margin-bottom:20px;
column-gap:20px;
justify-content:center;
align-items:center;
column-gap:30px;
}
.header-p1-right{
font-size: 18px;
margin-left:100px
}
.header-p1-left{
font-size: 24px;
margin-right:400px;
}
.header-p1-left,.header-p1-right{
color:white;
}