.part-1{
padding:30px;
height: 400px;
background-color:#1f2937;
}
.header-p1{
display:flex;
padding: 12px;
margin-left:150px;
margin-bottom:20px;
justify-content:center;
align-items:center;
column-gap:30px;
}
.header-p1-right{
font-size: 18px;
margin-left:100px
}
.header-p1-left{
font-size: 24px;
margin-right:400px;
}
.header-p1-left,.header-p1-right{
color:white;
}
.content-p1-left{
color:white;

}
.content-p1-right{
height:300px;
width:200px;
}
.content-p1{
display:flex;
justify-content:center;
column-gap:20px;
flex-wrap: wrap;
}
#content-p1-left-p1{
font-size: 48px;
font-weight:bold;
}
#content-p1-left-p2{
font-size: 18px;
}
#content-p1-left-p3{
color:white;
background-color:skyblue;
border:none;
border-radius:8px;
}